:root{
  --light-color: lightblue;
  --medium-color: rgb(63, 96, 109);
  --dark-color: rgb(49, 73, 85);
  --darker-light-color: rgb(156, 196, 209);
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--light-color);
}

h1{
  text-align: center;
}

.task-app{
  background-color: white;
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
}

.btn{
  border: none;
  background-color: var(--light-color);
  margin: 0.2rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}
.btn:hover{
  background-color: var(--darker-light-color);
}
.active{
  background-color: var(--dark-color);
  color: white;
}
.active:hover{
  background-color: var(--dark-color);
  color: white;
}

/* .completed{
  color: black;
  text-decoration: line-through;
} */